<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <img src="/icons/fi_car.png" alt="img-car">
        </h5>
        <p>Nama/Tipe Mobil</p>
        <h6>Rp 430.000 / hari</h6>
        <p class="card-text">
            <img src="/icons/fi_key.png" alt="icon-key">Start rent - Finish rent
        </p>
        <p class="card-text">
            <img src="/icons/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
        </p>
        <div class="btn-group" aria-label="Basic example">
            <button type="button" class="btn btn-danger">
                <img src="/icons/fi_trash-2.png" alt="icon-trash">Delete
            </button>
            <button type="button" class="btn btn-success">
                <img src="/icons/fi_edit.png" alt="icon-edit">Edit
            </button>
        </div>
    </div>
</div>